In [1]:
import pandas as pd
import numpy as np
import datetime

In [46]:
bat_pitch = pd.read_csv('bat_pitch.csv')

/Users/gregnoble/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3020: DtypeWarning: Columns (69) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [47]:
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [48]:
bat_pitch['full_date'] = bat_pitch['full_date'].astype(str)

In [49]:
bat_pitch['date_day'] = bat_pitch['date_day'].str.zfill(2)

In [50]:
bat_pitch['date_month'] = bat_pitch['date_month'].astype(str)
bat_pitch['date_month'] = bat_pitch['date_month'].str.zfill(2)
bat_pitch[' Year_x'] = bat_pitch[' Year_x'].astype(str)

In [51]:
bat_pitch['full_date'] = bat_pitch[' Year_x'] + '-'+ bat_pitch['date_month'] + '-' + bat_pitch['date_day']

In [56]:
bat_pitch['full_date'] = bat_pitch['full_date'].str.rstrip('susp')

In [58]:
bat_pitch['full_date'] = pd.to_datetime(bat_pitch['full_date'])

In [63]:
bat_pitch[bat_pitch['full_date'] == '2014-03-22']

,Unnamed: 0,Gtm_x,Date_x,Unnamed: 2_x,Opp_x,Rslt_x,PA,AB_x,R_x,H_x,2B_x,3B_x,HR_x,RBI,BB_x,IBB_x,SO_x,HBP_x,SH_x,SF_x,ROE_x,GDP_x,SB_x,CS_x,BA,OBP,SLG,OPS,LOB,#_x,Thr,Opp. Starter (GmeSc),Year_x,Gtm_y,Date_y,Unnamed: 2_y,Opp_y,Rslt_y,IP,H_y,R_y,ER,UER,BB_y,SO_y,HR_y,HBP_y,ERA,BF,Pit,Str,IR,IS,SB_y,CS_y,AB_y,2B_y,3B_y,IBB_y,SH_y,SF_y,ROE_y,GDP_y,#_y,Umpire,Pitchers Used (Rest-GameScore-Dec),Year_y,date_month,date_day,full_date,gtm_string,join_key,opp_code,join_key_2
0,1,1,Mar 22,NaN,LAD,"L,1-3",35.0,33.0,1.0,5.0,1.0,0.0,0.0,1.0,2.0,0.0,10.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.152,0.200,0.182,0.382,7.0,15.0,L,C.Kershaw (66),2014,1,Mar 22,NaN,LAD,"L,1-3",9.0,5.0,3.0,3.0,0.0,3.0,11.0,1.0,1.0,3.0,37.0,136.0,85.0,1.0,0.0,0.0,0.0,33.0,2.0,0.0,0.0,0.0,0.0,1.0,0.0,5.0,Tim Welke,"W.Miley (99-55-L), W.Harris (99), B.Ziegler (9...",2014.0,03,22,2014-03-22,1,2014032200001,1,201403220000101
11814,12257,1,Mar 22,@,ARI,"W,3-1",37.0,33.0,3.0,5.0,2.0,0.0,1.0,3.0,3.0,0.0,11.0,1.0,0.0,0.0,1.0,0.0,0.0,0.0,0.152,0.243,0.303,0.546,7.0,14.0,L,W.Miley (55),2014,1,Mar 22,@,ARI,"W,3-1",9.0,5.0,1.0,1.0,0.0,2.0,10.0,0.0,0.0,1.0,35.0,134.0,93.0,1.0,0.0,0.0,0.0,33.0,1.0,0.0,0.0,0.0,0.0,1.0,0.0,4.0,Tim Welke,"C.Kershaw (99-66-W), C.Perez (99-H), B.Wilson ...",2014.0,03,22,2014-03-22,1,2014032200001,12,201403220000112